<!DOCTYPE html>
<html>
<head>
    <title><%= title%> About</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <!-- Links for semantic ui -->
    <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.2/semantic.min.js"></script>
</head>

<body>

<header></header>

<!-- include premade nav from nav.ejs -->
<% include templates/nav.ejs %>
<div class="ui container">
    <p>About Page</p>
    <% include templates/footer.ejs %>

</div>
</body>
</html>
