<footer>
    <div class="ui raised three column grid segment">
        <div class="column">
            <div class="ui  raised segment">
                <div class="ui red ribbon label">
                    <h3>Address</h3>
                </div>
                <p>Cork Road,</p>
                <p>Waterford City</p>
                <p>Co.Waterford</p>
                <p>Ireland</p>
            </div>
        </div>
        <div class="column">
            <div class="ui  raised segment">
                <div class="ui blue ribbon label">
                    <h3>Contact</h3>
                </div>
                <br/>
                <br/>
                <p><strong>Phone:</strong> 088-55588833</p>
                <p><strong>General Email:</strong> Info@Example.com</p>
                <p><strong>Site Email:</strong> maintenance@Example.com </p>
            </div>
        </div>
        <div class="column">
            <div class="ui  raised segment">
                <div class="ui green ribbon label">
                    <h3>Connect with us</h3>
                </div>
                <br/>
                <br/>
                <a href="https://github.com/">
                <i class="github icon">Github</i><br/>
                </a>
                <a href="https://www.facebook.com/">
                    <i class="facebook icon">Facebook</i><br/>
                </a>
                <a href="https://twitter.com/?lang=en">
                    <i class="twitter icon">Twitter</i><br/>
                </a>

                <a href="https://www.reddit.com/">
                    <i class="reddit icon">Reddit</i>
                </a>



            </div>

        </div>
    </div>
    </div>
</footer>