
<div class="ui  container">
    <header>
        <div class="ui container">
            <img class="ui  fluid image" src="http://localhost:3000/images/banner.png" alt="WebLinXLogo">
        </div>
    </header>
</div>
<nav>
    <div class="ui  container">
        <div class="ui  menu">

            <a href="/">
                <div class="item">
                    <i class="sign in alternate icon"></i>Welcome\Sign In
                </div>
            </a>

            <a href="/users/reg">
                <div class="item">
                    <i class="sign in alternate icon"></i>Register
                </div>
            </a>

            <a href="/about">
                <div class="item">
                    <i class="question circle icon"></i>About
                </div>
            </a>

            <div class="right menu">
                <a href=""> <!--TODO-->
                    <div class="item">
                        <i class="address card icon"></i>Account
                    </div>
                </a>
                <a href="/logout"> <!--TODO-->
                    <div class="item">
                        <i class="sign out alternate icon"></i>Log out
                    </div>
                </a>
            </div>
        </div>
    </div>
</nav>


